<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1216/1216995.png">
    </head>
    <body>
        <div class="container">
            <%- include('_header'); -%>
            <%- body %> <!--here the body part of home and userhome is going to run-->
            <%- include('_footer'); -%>
            <%- script %>
        </div>
    </body>
</html>